.r-page-link {
  color: red;
  background-color: black;
  border-radius: 0.5em;
  padding: 8px 6px;
  text-align: center;
  display: block;
  font-size: 0.8rem;
  text-decoration: none;
  margin-right: 0.5em;
}

.active > .r-page-link {
  color: white;
  background: red;
}

.r-page-link:hover {
  color: white;
  background: red;
}

.movie-card-box {
  height: 500px;
  margin-bottom: 2em;
}

ReactPaginate:hover {
  border-radius: 1em;
}

.pagination {
  display: flex;
  flex-wrap: wap;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  list-style: none;
}

.r-page-item {
  flex: 1 1 auto;
  min-width: 30px;
  max-width: 50px;
}
