body {
  background-color: black !important;
  color: white;
}
@font-face {
  font-family: "/GmarketSansTTF/GmarketSansTTFMedium.ttf";
  font-weight: normal;
  src: url("./fonts//GmarketSansTTF/GmarketSansTTFMedium.ttf")
    format("truetype");
}

body {
  font-family: "/GmarketSansTTF/GmarketSansTTFMedium.ttf";
}
